//Menu Button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 5%;
    top: 5%npm;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: set-text-color($primary-color);
        @include easeOut;
    }

    //Rotate into X With Menu Lines
    &.close {
        transform: rotate(180deg);

        .btn-line {

            //Line1-Rotate
            &:nth-child(1) {
                background: $secondary-color;
                transform: rotate(45deg) translate(5px, 5px)
            }

            //Line2-Static
            &:nth-child(2) {
                opacity: 0;
            }

            //Line3-Rotate
            &:nth-child(3) {
                background: $secondary-color;
                transform: rotate(-45deg) translate(7px, -6px)
            }
        }
    }
}

//menu Overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.91;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-side,
    &-nav {
        padding: 0%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        padding: -50;
        background: darken($primary-color, 10);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            //Slide from top
            transform: translate3d(0, 0, 0);
        }
    }

    &-side {
        width: 50%;
        transform: translate3d(0, 100%, 0);
        @include easeOut;

        &.show {
            //Slide left buttom
            transform: translate3d(0, 0, 0);
        }
    }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        &.show {
            //Slide right buttom
            transform: translate3d(0, 0, 0);
        }

        &.current>a {
            color: $secondary-color;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 1.5em;
        text-transform: uppercase;
        padding: 1rem;
        font-weight: 300;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include easeOut;

        &:hover {
            color: $secondary-color;
        }
    }
}

//Delay each nav 0.1s
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.0.9s;
    }
}

//JSON   //"sass": "node-sass -w scss/ -o dist/css/ --recursive"