//Widescreens Extra Large screens
@include mediaXl {
    #home {
        .icons {
            font-size: 1.5rem;
        }

        h1 {
            font-size: 4.0rem;
        }
    }

    .gecko-img1 {
        position: reletive;
        bottom: 0;
        width: 100%;
        height: 150px;
        padding-left: 82%;
        padding-bottom: 1px;
        right: 0;
        bottom: 0;

        svg {
            width: 150px;
            height: 150px;
            fill: $secondary-color;


        }
    }
}

//Desktops Screens
@include mediaLg {
    .gecko-img1 {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 120px;
        padding-left: 80%;
        padding-bottom: 2%;
        margin-top: 280px;




        svg {
            width: 120px;
            height: 120px;
            fill: $secondary-color;
            margin-top: 100px;


        }
    }

    .icons {
        padding-top: 5%;
        margin-top: 1rem;
    }
}

//Tablets
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 5%;
        }
    }

    .icons {
        padding-top: 1%;
        margin-top: 0rem;
    }

    ul.menu-nav,
    div.menu-side {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .manu-nav {
        width: 100%;
        height: 100hv;
        transform: translate3d(-100%, 0, 0);
        font-size: 22px;
        align-items: center;
        justify-content: center;
    }

    .menu-side {
        height: 0vh;
        transform: translate3d(100%, 0, 0); //Photo small

        .photo {
            background: url();
        }
    }

    .about-info {
        grid-template-areas:
            "bioimage"
            "bio"
            "job1"
            "job2"
            "job3";
        grid-template-columns: 2fr;
    }

    .gecko-img1 {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px;
        padding-left: 80%;
        padding-bottom: 1%;
        right: 0;
        bottom: 0;

        svg {
            width: 100px;
            height: 100px;
            fill: $secondary-color;


        }
    }

}

// Ipad
@include mediaIpad {
    #home {
        .icons {
            font-size: 1rem;
        }

        h1 {
            font-size: 4.1rem;
        }
    }

    .gecko-img1 {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px;
        margin-top: 20%;
        padding-left: 82%;
        padding-bottom: 11%;
        right: 0;
        bottom: 0;

        svg {
            width: 100px;
            height: 100px;
            fill: $secondary-color;


        }
    }

}

//Mobile Phones
@include mediaSm {
    #home h1 {
        margin-top: 10vh;
        padding: 0%;
        font-size: 3.1rem;
    }

    .icons {
        padding-top: 7%;

    }

    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100%;
        overflow: hidden;
    }

    &-side {
        width: 50%;
        transform: translate3d(0, 100%, 0);
        @include easeOut;

        &.show {
            //Slide left buttom
            transform: translate3d(0, 0, 0);
        }
    }

    .gecko-img1 {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px;
        padding-left: 85%;
        padding-bottom: 1%;
        right: 0;
        bottom: 0;

        svg {
            width: 55px;
            height: 55px;
            fill: $secondary-color;


        }
    }



}