//Widescreens Extra Large screens
@include mediaXl {
    #home {
        .icons {
            font-size: 1.5rem;
        }

        h1 {
            font-size: 4.0rem;
        }
    }


}

//Desktops Screens
@include mediaLg {


    .icons {
        padding-top: 5%;
        margin-top: 1rem;
    }
}

//Tablets
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 5%;
        }
    }

    .icons {
        padding-top: 1%;
        margin-top: 0rem;
    }



    ul.menu-nav,
    div.menu-side {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .manu-nav {
        width: 100%;
        height: 100hv;
        transform: translate3d(-100%, 0, 0);
        font-size: 22px;
        align-items: center;
        justify-content: center;
    }

    .menu-side {
        height: 0vh;
        transform: translate3d(100%, 0, 0); //Photo small

        .photo {
            background: url();
        }
    }



    .about-info {
        grid-template-areas:
            "bioimage1"
            "bio1"
            "gapabout"
            "bioimage2"
            "bio2"
            "job1"
            "job2"
            "job3";
        grid-template-columns: 1fr;
    }



}

// Ipad
@include mediaIpad {
    #home {
        .icons {
            font-size: 1rem;
        }

        h1 {
            font-size: 4.1rem;
        }
    }



}

//Mobile Phones
@include mediaSm {
    #home h1 {
        margin-top: 10vh;
        padding: 0%;
        font-size: 3.1rem;
    }

    .icons {
        padding-top: 7%;

    }

    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100%;
        overflow: hidden;
    }

    &-side {
        width: 50%;
        transform: translate3d(0, 100%, 0);
        @include easeOut;

        &.show {
            //Slide left buttom
            transform: translate3d(0, 0, 0);
        }
    }

    .main-centar {
        color: yellow;
        width: auto;
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
            'main1'
            'main2'
            'main3';

        grid-template-columns: 1fr;

    }



}