@import "config";
@import "menu";
@import "gallery";

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

//Eternal Font
@font-face {
    font-family: CherrySwash-Regular;
    src: url(/dist/font/CherrySwash-Regular.otf);
    font-weight: 100;
}

body {
    @include background;
    background-color: #ededed;
    color: set-text-color($primary-color); //Dark - Light
    height: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    font-family: "Arial narrow", sans-serif;
    font-weight: 100;
}

html,
body,
#background {
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 550;

    &.lg-heading {
        font-size: 3rem;
        font-family: "CherrySwash-Regular", sans-serif;
        font-weight: 100;
        text-align: center;
        padding-bottom: 2rem;
    }

    &.sm-heading {
        margin-bottom: 4rem;
        padding: 0.3rem 0rem;
        font-family: "CherrySwash-Regular", sans-serif;
        font-weight: 100;
        background: rgba(lighten($primary-color, 3), 0.4);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.lg-heading {
    color: #444;
}

.sm-heading {
    color: #444;
    font-size: 3rem;
}

.m-heading {
    text-align: center;
    font-family: "CherrySwash-Regular", sans-serif;
    margin-top: 1rem;
    color: $secondary-color;
}

.second-name {
    color: #444;
}

.main-info {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'main1 main2 main3';
    grid-template-columns: repeat(3 1fr);
    text-align: center;
    padding: 5px;
}

.main {
    border: 1px solid black;
}

.main1 {
    grid-area: main1;

    img {
        width: 250px;
        height: 300px;
    }


}

.main2 {
    grid-area: main2;

    img {
        width: 250px;
        height: 300px;
    }

}

.main3 {
    grid-area: main3;

    img {
        width: 250px;
        height: 300px;
    }

}

.about-info {
    h2 {
        font-size: 3rem;
        font-family: "CherrySwash-Regular", sans-serif;
    }

    display: grid;
    grid-gap: 2rem;
    grid-template-areas: "bioimage1 bio1 bio1"
    "gapabout gapabout gapabout"
    "bio2 bio2 bioimage2"
    "job1 job2 job3";

    grid-template-columns: repeat(3, 1fr);
}


.text-secondary {
    color: $secondary-color;
}

.bio1-image {
    width: 100px;
    height: 140px;
    grid-area: bioimage1;
    margin: auto;
    border-radius: 7%;
}

.bio1 {
    grid-area: bio1;
}

.bio2-image {
    grid-area: bioimage2;
    margin: auto;
    border: 0.1rem solid $secondary-color;
    border-radius: 7%;

}

.bio2 {
    grid-area: bio2;
}

.gap-about {
    text-align: center;
    grid-area: gapabout;
    padding: 1rem;
}

.job-1 {
    grid-area: job1;
}

.job-2 {
    grid-area: job2;
}

.job-3 {
    grid-area: job3;
}

.job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    text-align: center;
}


.icons {
    display: inline;
    color: #444;

    a {

        padding: 0.1rem;
        color: #444;

        &:hover {
            color: $secondary-color;
            @include easeOut();
        }
    }
}

//Sticky Footer
.footer,
.push {
    height: 1px;
}


.main-footer {
    text-align: center;
    padding: 0.1rem;
    background: darken($primary-color, 4);
    color: $secondary-color;
    min-width: 100%;





}


@import "mobile";